:root {
  --dark-green: #1b433d;
  --turquoise: #65c2b0;
  --beige: #f7d39d;
}

body {
  background-color: white;
}

.site-header {
  background-color: white;
  align-items: center;
  position: relative;
  display: flex;
  border-bottom: solid 1px #1b433d;
  margin-bottom: 20px;
}

.site-header img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.site-header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 2.5rem; color: var(--dark-green);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product-card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.product-card{
  margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    font-family: 'Jost', sans-serif;
}

.product-card p {
    margin: 5px 0;
    color: black;
    font-size: 0.9rem;
}

.filter-button {
  appearance: none;
  background-color: var(--turquoise);
  color: black;
  padding: 0.7rem 2rem;
  border-radius: 25px;
  text-align: center;
  border: none;
  font-family: 'Jost', sans-serif;
}

.sort-button {
  appearance: none;
  background-color: var(--turquoise);
  color: black;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  text-align: center;
  border: none;
  font-family: 'Jost', sans-serif;
}

.amount-controls button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: var(--turquoise);
  color: white;
}

.product-card .buy {
  background-color: var(--dark-green);
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 25px;
  border: none;
  margin-top: 10px;
}

.product-card input {
  width: 30px;
  text-align: center;
  border-radius: 25px;
  font-family: 'Jost', sans-serif;
  padding: 1px;
}





@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
    gap: 0.5rem;
  }

  .site-header h1 {
    position: static;
    transform: none;
    text-align: center;
  }

  .site-header img {
    width: 120px;
  }
}

