body {
  background-color: antiquewhite ;
}

h1 {
  color: teal;
  font-style: italic;
  font-family: 'Lucida Sans', sans-serif;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

